<section>
  <div class="page-header">
    <h1>Reputation</h1>
  </div>
  <div class="col-md-12" ng-show="!vm.reputation.ratesCount">
    <h2>Create Rate for Address {{ vm.reputation.wallet }}</h2>
    <form name="vm.form.reputationForm" class="form-horizontal" ng-submit="vm.save(vm.form.reputationForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="wallet">Wallet to Rate</label>
          <input name="wallet" type="text" ng-model="vm.reputation.wallet" id="name" class="form-control" placeholder="Wallet" required>
          <div ng-messages="vm.form.reputationForm.wallet.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Wallet is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="wallet">Rating(1-5 only)</label>
          <input name="rating" type="text" ng-model="vm.reputation.rating" id="name" class="form-control" placeholder="rating" required>
          <div ng-messages="vm.form.reputationForm.rating.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Rating is required.</p>
          </div>
        </div>


        <div class="form-group" show-errors>
          <label class="control-label" for="from">From Wallet</label>
          <input name="fromWallet" type="text" ng-model="vm.reputation.fromWallet" id="name" class="form-control" placeholder="fromWallet" required disabled>
          <div ng-messages="vm.form.reputationForm.fromWallet.$error" role="alert">
            <p class="help-block error-text" ng-message="required">From Wallet is required.</p>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.reputation._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>



  <div class="col-md-12" ng-show="vm.reputation.ratesCount">
    {{vm.reputation}}
    <div>
      <h2>Summary for Address {{vm.reputation.wallet}}</h2>
    </div>

    <form name="vm.form.reputationForm" class="form-horizontal">
      <fieldset>
  
        <div class="form-group">
          <label class="control-label" for="wallet">Average Rating</label>
          <span name="rating" class="form-control"> {{ (vm.reputation.average / 100) | number: '2' }} </span>
        </div>


        <div class="form-group" show-errors>
          <label class="control-label" for="from">Total Number of People Who Rated</label>
          <input name="fromWallet" type="text" ng-model="vm.reputation.ratesCount" id="name" class="form-control" placeholder="ratesCount" disabled>
        </div>

        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>


        <div class="form-group">
          <h3>Ratings from Users</h3>
          <ul class="list-group">
              <li class="list-group-item height">
                <h4>
                  <div class="col-sm-4">From</div>
                  <div class="col-sm-4">Rate</div>
                  <div class="col-sm-4">Date</div>
                </h4>
              </li>  
              <li ng-repeat="rate in vm.reputation.rates" class="list-group-item height">
                <span class="col-sm-4"> {{ rate.from }} </span>
                <span class="col-sm-4"> {{ rate.rate }} </span>
                <span class="col-sm-4"> {{ (rate.date * 1000) | date }} </span>
              </li>
          </ul>
        </div>

      </fieldset>

    </form>

</div>




</section>
