<section>
  <div class="page-header">
    <h1> REPUTATIONS </h1>
  </div>
  <div class="list-group">
    <a ng-repeat="reputation in vm.reputations"
       ui-sref="reputations.edit({ reputationId: reputation.wallet })"
       class="list-group-item">
     
        <h4>Reputation Address: {{reputation.contractAddress }}</h4>       
        <strong>Address: {{reputation.wallet}}</strong>       
        <span>Average: {{ (reputation.average / 100)  | number: '2' }} </span> <br/>
        <span>Number of Reviews: {{ reputation.ratesCount }} </span>
  
    </a>
  </div>

</section>
