<section>
  <div class="page-header">
    <h1> PENDING REPUTATIONS </h1>
  </div>
  <div class="list-group">
    <a ng-repeat="reputation in vm.reputations"
       href="{{vm.etherscanURL + reputation.transactionHashes[ reputation.transactionHashes.length - 1 ]   }}"
       target="_blank"
       class="list-group-item">
      <h4 class="list-group-item-heading">
      Rated Address: {{ reputation.wallet }} </br>
      HASH: {{ reputation.transactionHashes }}
      </h4>
    </a>
  </div>

</section>
