<section>
  <div class="page-header">
    <h1>Filter Settings for Your Store</h1>
  </div>

  <div ng-show="vm.error" class="text-danger">
    <strong ng-bind="vm.error"></strong>
  </div>

  <div ng-show="vm.success" class="text-success">
    <strong>Success!</strong>
  </div>

  <div class="row">
    <div class="col-sm-12"> 
       Select Categories to hide/show to customers
      <button type="button" ng-click="vm.updateMyStoreCategories()" class="pull-right btn btn-warning">Apply</button>
    </div>
  </div>
  <br/>  

  <div class="list-group">
    <span ng-repeat="category in vm.categories"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="category.created | date:'mediumDate'"></span>
      </small>
      <input class="pull-right" type="checkbox" ng-click="vm.selectCategory(category._id)" ng-checked="vm.store.categories.indexOf(category._id) > -1 ? true : false">
      <h4 class="list-group-item-heading" ng-bind="category.name"></h4>
    </span>
  </div>  

  <div class="row">
    <div class="col-sm-12"> 
      Select Assets to hide/show to customers. View each Asset to enter hashcode
      <button type="button" ng-click="vm.updateMyStoreCategories()" class="pull-right btn btn-warning">Apply</button>
    </div>
  </div>
  <br/>  

  <div class="list-group">
    <h4>Assets</h4>
    <a ng-repeat="asset in vm.assets"
       ui-sref="assets.edit({ assetId: asset._id })"
       class="list-group-item">
           
      <div class="form-group text-left">
        <!-- <img ng-src="modules/users/client/img/profile/default.png" alt="{{user.displayName}}" class="img-thumbnail user-profile-picture"> -->
      </div>
      <h4 class="list-group-item-heading" ng-bind="asset.title"></h4>
    </a>
  </div>

</section>
