<section>
<section>
  <div class="page-header">
    <h1>Affiliate Dashboard</h1>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading"><h4>Summary</h4></div>
    <div class="panel-body">A Basic Panel</div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading"><h4>Assets</h4></div>
    <div class="panel-body">A Basic Panel

      <table class="table">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


</section>
