.asset-picture-detail {
  min-height: 150px;
  max-height: 150px;
}

.asset-picture-thumbnail {
  max-width: 100px;
  max-height: 100px;
  float: left;
}


.trim-text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}