table, th , td {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 5px;
}

table tr:nth-child(odd) {
  background-color: white;
}

table tr:nth-child(even) {
  background-color: white;
}