<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title></title>
</head>

<body>
  <p>Dear {{shopName}},</p>
  <br />
  <p>
    A seller has disputed a product you have listed on splyt: <strong>{{assetName}}</strong>
  </p>
  <p>Please visit this url to 'de-dispute' your product by staking tokens.</p>
  <table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <td style="border-radius: 2px;" bgcolor="#ED2939">
                        <a href={{url}} target="_blank" style="padding: 8px 12px; border: 1px solid #ED2939;border-radius: 2px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: #ffffff;text-decoration: none;font-weight:bold;display: inline-block;">
                            Click to stake tokens           
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
  </table>
  <strong>If you do not 'de-dispute' this product, It will be removed from splyt automatically</strong>
  <br />
  <br />
  <p>The Splyt Support Team</p>
</body>

</html>
