<!-- <div class="container">
	<center>
		<img src="/modules/core/client/img/brand/s1.png" width="35">
		<img src="/modules/core/client/img/brand/s2.png" width="35">
		<img src="/modules/core/client/img/brand/s3.png" width="35">
		<img src="/modules/core/client/img/brand/s4.png" width="35">
		<img src="/modules/core/client/img/brand/s5.png" width="35">
		<small>© 2019 Copyright: spl.yt </small>
	</center>
</div> -->


<div class="container">
	<div class="row d-flex align-items-center align-middle">
		<div class="col-md-4 text-center align-middle">
			<p class="copy-text"><a href="contact">CONTACT US</a> | <a href="privacy">PRIVACY POLICY</a> <br> ASK US ANYTHING
				AT <a href="mailto:hello@spl.yt">HELLO@SPL.YT</a></p>
		</div>
		<div class="col-md-4 text-center align-middle">
			<p><img src="/modules/core/client/img/brand/logo-footer.png" width="65"></p>
		</div>
		<div class="col-md-4 text-center align-middle">
			<div class="social-icons">
				<li><a href="https://github.com/splytcore" target="_blank"><img src="/modules/core/client/img/brand/s1.png" width="35"></a></li>
				<li><a href="https://www.facebook.com/splytcore/" target="_blank"><img src="/modules/core/client/img/brand/s2.png"
						 width="35"></a></li>
				<li><a href="https://twitter.com/splytcore" target="_blank"><img src="/modules/core/client/img/brand/s3.png" width="35"></a></li>
				<li><a href="https://www.reddit.com/r/splyt/" target="_blank"><img src="/modules/core/client/img/brand/s4.png"
						 width="35"></a></li>
				<li><a href="https://medium.com/splytcore" target="_blank"><img src="/modules/core/client/img/brand/s5.png" width="35"></a></li>
				<li><a href="https://t.me/splytcore" target="_blank"><img src="/modules/core/client/img/brand/s6.png" width="35"></a></li>
			</div>
			<p class="copy-text"><a href="splytcorefoundation">2018 SPL.YT CORE FOUNDATION</a> <br> ALL RIGHTS RESERVED</p>
		</div>
	</div>
</div>