<div class="container" style="color:black; padding:10px;text-align: center">
	<!-- <center>
		<img src="/modules/core/client/img/brand/s1.png" width="35">
		<img src="/modules/core/client/img/brand/s2.png" width="35">
		<img src="/modules/core/client/img/brand/s3.png" width="35">
		<img src="/modules/core/client/img/brand/s4.png" width="35">
		<img src="/modules/core/client/img/brand/s5.png" width="35">
		<small>© 2019 Copyright: spl.yt </small>
	</center> -->
	<div class="col-sm-3">
		<div class="row" style="padding-top: 20px">
			<a href="https://www.spl.yt/contact">CONTACT US</a> | <a href="https://www.spl.yt/privacy">PRIVACY
				POLICY</a>
		</div>
		<div class="row">
			ASK US ANYTHING AT <a href="mailto:hello@spl.yt">HELLO@SPL.YT</a>
		</div>
	</div>
	<div class="col-sm-6">
		<img src="/modules/core/client/img/brand/logo-footer.png" style="width:80px">
	</div>
	<div class="col-sm-3">
		<div class="row" style="padding-top: 5px">
      <img src="/modules/core/client/img/brand/s1.png" style="width:25px">
      <img src="/modules/core/client/img/brand/s2.png" style="width:25px">
      <img src="/modules/core/client/img/brand/s3.png" style="width:25px">
      <img src="/modules/core/client/img/brand/s4.png" style="width:25px">
      <img src="/modules/core/client/img/brand/s5.png" style="width:25px">
      <img src="/modules/core/client/img/brand/s6.png" style="width:25px">
		</div>
		<div class="row">
			<a href="https://www.spl.yt/splytcorefoundation">2019 Splyt Core Foundation</a>
		</div>
		<div class="row">
			All rights reserved
		</div>
	</div>