<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <p>
      <h1>Welcome to Splytcore2 API</h1>
    </p>
  </div>

  	<ul class="list-group">
  		<li class="list-group-item active">Splyt Contracts</li>
  		<li class="list-group-item">Token Address: {{splyt.tokenAddress}}</li>
  		<li class="list-group-item">Stake Address: {{splyt.stakeAddress}}</li>
  		<li class="list-group-item">SplytManager Address: {{splyt.splytManagerAddress}}</li>
  		<li class="list-group-item">AssetManager Address: {{ splyt.assetManagerAddress }}</li>
  		<li class="list-group-item">OrderManager Address: {{ splyt.orderManagerAddress }}</li>
  		<li class="list-group-item">ArbitrationManager Address: {{ splyt.arbitrationManagerAddress }}</li>
  		<li class="list-group-item">ReputationManager Address: {{ splyt.reputationManagerAddress }}</li>

  	</ul>

  	<ul class="list-group">
  		<li class="list-group-item active">My Balances</li>  		
  		<li class="list-group-item">My Wallet: {{user.publicKey}}</li>
  		<li class="list-group-item">My Token Balance: {{ user.tokenBalance }}</li>
  		<li class="list-group-item">My Ether Balance: {{ user.etherBalance }} </li>  		
  	</ul>

</section>
