<section>
  <div class="page-header">
    <h1>{{vm.asset._id ? vm.asset.title : 'New Asset'}}</h1>
  </div>
  <div class="container">
    <div class="col-sm-3">
      <div class="row">
        <img ng-src="modules/assets/client/img/asset.jpeg" class="img-thumbnail asset-picture-detail">
      </div>
      <div class="row">
          <div class="col-sm-6">
            $ {{vm.asset.totalCost | number: '2'}}
          </div>
          <div class="col-sm-6">
            {{ vm.asset.inventoryCount }} left
          </div>
        </div>
    </div>
    <div class="col-sm-9">
      <div class="row" style="font-weight: bold">{{ vm.asset.title }}</div>
      <div class="row">NFT Status:  {{vm.asset.statusName}} </div>
      <div class="row">NFT Type:  {{vm.asset.typeName}} </div>
      <div class="row" style="align-content: center">NFT Address: <a class="trim-text" target="_blank" href="{{vm.etherscanURL + vm.asset.address}}"> {{vm.asset.address}}</a></div>
      <div class="row">Creation Hash: <a class="trim-text" style="text-decoration: none" target="_blank" href="{{vm.etherscanURL + vm.asset.transactionHash}}"> {{vm.asset.transactionHash}}</a></div>
      <div class="row">Seller Wallet: <a class="trim-text" style="text-decoration: none" target="_blank" href="{{vm.etherscanURL + vm.asset.seller}}"> {{vm.asset.seller}}</a></div>

    </div>
  </div>

  <div class="col-md-12">
    <form name="vm.form.assetForm" class="form-horizontal" ng-submit="vm.save(vm.form.assetForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="description">Description</label>
          <input name="description" type="text" ng-model="vm.asset.description" id="description" class="form-control" placeholder="Description" ng-disabled="vm.asset._id" required>
          <div ng-messages="vm.form.assetForm.description.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Asset description is required.</p>
          </div>
        </div>

       <div class="form-group" show-errors>
          <label class="control-label" for="description">Term</label>
          <input name="term" type="text" ng-model="vm.asset.term" id="description" class="form-control" placeholder="Terms" required ng-disabled="vm.asset._id">
          <div ng-messages="vm.form.assetForm.term.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Asset term is required.</p>
          </div>
        </div>

        <div class="form-group" ng-show="!vm.asset._id" show-errors>        

          <label class="control-label" for="marketPlaces">Market Place</label>          
          <select class="form-control" name="marketPlaces" ng-model="vm.selectedMarketPlace">            
           <option ng-repeat="m in vm.marketPlaces track by $index" value="{{m.wallet}}">
              {{m.name}} -> {{m.wallet}}            
            </option>          
          </select>

          <div ng-messages="vm.form.assetForm.asset.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Market Place is required.</p>
          </div>
        </div>

        <div class="form-group panel panel-default" ng-show="vm.asset._id">   
         <div class="panel-heading" for="marketPlaces"><strong>Participating Market Places</strong></div>                    
          <div class="panel-body">
            <ul class="list-group" ng-repeat="m in vm.asset.marketPlaces">
              <li class="list-group-item"> {{ m }} </li>
            </ul>          
          </div>
          
          <div class="panel-heading" for="marketPlaces"><strong>Add Market Place</strong></div>       
          
          <div class="panel-body">
            <select class="form-control" name="marketPlaces" ng-model="vm.selectedMarketPlace">            
              <option ng-repeat="m in vm.marketPlaces track by $index" value="{{m.wallet}}">
                {{m.name}} : {{m.wallet}}            
              </option>          
            </select>
            <br/>
            <button type="button" ng-click="vm.addMarketPlace()" class="btn btn-default">Add</button>   
          </div>
        </div>
    
        <div class="form-group" ng-show="vm.asset._id">
          {{vm.selectedAction}}
          <label class="control-label" for="action">Choose Action</label>          
          <select class="form-control" name="marketPlaces" ng-model="vm.selectedAction">            
           <option ng-repeat="a in vm.actions" value="{{a.id}}">
              {{a.name}}            
            </option>          
          </select>
          <br/>
          <button type="button" ng-click="vm.applyAction()" ng-show="vm.asset._id" class="btn btn-default"> Go </button>
      </div>
     
      <div class="form-group">
        <br/>
        <button type="submit" ng-show="!vm.asset._id" class="btn btn-default"> Create </button>                          
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </div>
      
      </fieldset>
    </form>
  </div>
</section>
