<section>
  <div class="page-header">
    <h1>{{vm.asset._id ? 'Edit Asset' : 'New Asset'}}</h1>
  </div>
  {{ vm.asset }}

  <div class="col-md-12">
    <form name="vm.form.assetForm" class="form-horizontal" ng-submit="vm.save(vm.form.assetForm.$valid)" novalidate>
      <fieldset>

        <div class="form-group">
          <img ng-src="modules/assets/client/img/asset.jpeg" class="img-thumbnail asset-picture-detail">
        </div>


        <div class="form-group" show-errors>
          <label class="control-label" for="title">Title</label>
          <input name="title" type="text" ng-model="vm.asset.title" id="title" class="form-control" placeholder="Title" required ng-disabled="vm.asset._id">
          <div ng-messages="vm.form.assetForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Asset title is required.</p>
          </div>
        </div>


        <div class="form-group" show-errors>
          <label class="control-label" for="description">Description</label>
          <input name="description" type="text" ng-model="vm.asset.description" id="description" class="form-control" placeholder="Description" ng-disabled="vm.asset._id" required>
          <div ng-messages="vm.form.assetForm.description.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Asset description is required.</p>
          </div>
        </div>

       <div class="form-group" show-errors>
          <label class="control-label" for="description">Term</label>
          <input name="term" type="text" ng-model="vm.asset.term" id="description" class="form-control" placeholder="Terms" required ng-disabled="vm.asset._id">
          <div ng-messages="vm.form.assetForm.term.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Asset term is required.</p>
          </div>
        </div>


       <div class="form-group" ng-show="vm.asset._id">
          <label class="control-label" for="assetType">Asset Type(0=SINGLE, 1=FRACTIONAL)</label>
          <input name="assetType" type="text" ng-model="vm.asset.type" id="assetType" class="form-control" placeholder="AssetType" disabled="">
        </div>

        
        <div class="form-group" ng-show="!vm.asset._id" show-errors>
          <label class="control-label" for="marketPlaces">Market Place</label>          
          <select class="form-control" name="marketPlaces" ng-model="vm.selectedMarketPlace">            
           <option ng-repeat="m in vm.marketPlaces track by $index" value="{{m.wallet}}">
              {{m.name}} -> {{m.wallet}}            
            </option>          
          </select>

          <div ng-messages="vm.form.assetForm.asset.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Market Place is required.</p>
          </div>
        </div>

        <div class="form-group panel panel-default" ng-show="vm.asset._id">   
         <label class="control-label" for="marketPlaces">Participating Market Places</label>                    
          <ul ng-repeat="m in vm.asset.marketPlaces">
            <li> {{ m }} </li>
          </ul>          

          <label class="control-label" for="marketPlaces">Add Market Place</label>       
          <select class="form-control" name="marketPlaces" ng-model="vm.selectedMarketPlace">            
            <option ng-repeat="m in vm.marketPlaces track by $index" value="{{m.wallet}}">
              {{m.name}} : {{m.wallet}}            
            </option>          
          </select>
          <button type="button" ng-click="vm.addMarketPlace()" class="btn btn-default">Add</button>          
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="seller">Seller Wallet</label>
          <span name="seller" id="seller" class="form-control" disabled>
            {{ vm.asset.seller }}
          </span>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="ether">Status(0:NOT_MINED, 1:ACTIVE, 2:IN_ARBITRATION, 3:EXPIRED, 4:SOLD_OUT, 5:CLOSED, 6:OTHER)</label>

          <span name="status" id="status" class="form-control" disabled>
            {{ vm.asset.status }}
          </span>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="ether">Total Cost</label>
          <input name="totalCost" type="text" ng-model="vm.asset.totalCost" id="totalCost" class="form-control" placeholder="total cost in tokens" required ng-disabled="vm.asset._id">
          <div ng-messages="vm.form.assetForm.totalCost.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Total cost is required.</p>
          </div>       
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="asset">Contract Address</label>       
          <span name="address" id="address" class="form-control" disabled>
            {{ vm.asset.address }}
          </span>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="asset">Inventory</label>       
          <input name="inventoryCount" type="text" ng-model="vm.asset.inventoryCount" id="inventoryCount" class="form-control" placeholder="Inventory" required ng-disabled="vm.asset._id">
        </div>


        <div class="form-group">
          <button type="submit" ng-show="!vm.asset._id" class="btn btn-default"> Create </button>

          <button ng-show="vm.asset._id"  ui-sref="orders.create({ assetAddress: vm.asset.address, title: vm.asset.title, trxAmount: vm.asset.totalCost })" type="button" class="btn btn-default">Purchase</button>

          <button ng-show="vm.asset._id"  ui-sref="arbitrations.create({ assetAddress: vm.asset.address, title: vm.asset.title })" type="button" class="btn btn-default">Initial Arbitration</button>

          <button ng-show="vm.asset._id"  ui-sref="reputations.create({ wallet: vm.asset.seller, title: vm.asset.title })" type="button" class="btn btn-default">Rate Seller</button>

          <button ng-show="vm.asset._id"  ui-sref="reputations.create({ wallet: vm.asset.address, title: vm.asset.title })" type="button" class="btn btn-default">Rate Asset</button>          
                   
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
