<section>
  <div class="page-header">
    <h1>{{vm.asset._id ? 'Edit Asset' : 'New Asset'}}</h1>
  </div>
  {{ vm.asset }}
  <div class="col-md-12">
    <form name="vm.form.assetForm" class="form-horizontal" ng-submit="vm.save(vm.form.assetForm.$valid)" novalidate>
      <fieldset>

        <div class="form-group" show-errors>
          <label class="control-label" for="title">Title</label>
          <input name="title" type="text" ng-model="vm.asset.title" id="title" class="form-control" placeholder="Title" required>
          <div ng-messages="vm.form.assetForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Asset title is required.</p>
          </div>
        </div>


        <div class="form-group" show-errors>
          <label class="control-label" for="description">Description</label>
          <input name="description" type="text" ng-model="vm.asset.description" id="description" class="form-control" placeholder="Description" required>
          <div ng-messages="vm.form.assetForm.description.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Asset description is required.</p>
          </div>
        </div>
        
        <div class="form-group" show-errors>
          <label class="control-label" for="marketPlaces">Market Places</label>          
          <select class="form-control" name="marketPlaces">            
           <option ng-repeat="m in vm.asset.marketPlaces track by $index" value="{{m}}">
              {{m}}            
            </option>          
          </select>

          <div ng-messages="vm.form.assetForm.asset.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Market Place is required.</p>
          </div>
        </div>


        <div class="form-group" show-errors>
          <label class="control-label" for="seller">Seller Wallet</label>
          <span name="seller" id="seller" class="form-control" disabled>
            {{ vm.asset.seller }}
          </span>
        </div>



        <div class="form-group" show-errors>
          <label class="control-label" for="ether">Status(0:NOT_MINED, 1:ACTIVE, 2:IN_ARBITRATION, 3:EXPIRED, 4:SOLD_OUT, 5:CLOSED, 6:OTHER)</label>

          <span name="status" id="status" class="form-control" disabled>
            {{ vm.asset.status }}
          </span>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="ether">Total Cost</label>
          <input name="totalCost" type="text" ng-model="vm.asset.totalCost" id="totalCost" class="form-control" placeholder="total cost in tokens" required ng-disabled="vm.asset._id">
          <div ng-messages="vm.form.assetForm.totalCost.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Total cost is required.</p>
          </div>       
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="asset">Contract Address</label>       
          <span name="address" id="address" class="form-control" disabled>
            {{ vm.asset.address }}
          </span>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="asset">Inventory</label>       
          <input name="inventoryCount" type="text" ng-model="vm.asset.inventoryCount" id="inventoryCount" class="form-control" placeholder="Inventory" required ng-disabled="vm.asset._id">
        </div>


        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.asset._id ? 'Update' : 'Create'}}</button>
          <button ng-show="vm.asset._id" type="button" class="btn btn-default" ng-click="vm.remove()">Remove</button>

          <button ng-show="vm.asset._id"  ui-sref="orders.create({ assetAddress: vm.asset.address, title: vm.asset.title, trxAmount: vm.asset.totalCost })" type="button" class="btn btn-default">Purchase</button>

          <button ng-show="vm.asset._id"  ui-sref="arbitrations.create({ assetAddress: vm.asset.address, title: vm.asset.title })" type="button" class="btn btn-default">Initial Arbitration</button>
                   
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
