<section>
  <div class="page-header">
    <h1>Listings</h1>
  </div>
  
  <div class="list-group row row-wrap-content">

    <a ng-repeat="asset in vm.assets"       
        ui-sref="assets.view({ assetId: asset._id })"
        class="list-group-item">

      <table class="table-view">
        <tr>
          <td>        
            <img src="{{asset.imageURL}}" ng-hide="{{asset.imageURL === ''}}" class="asset-picture-thumbnail">
            <td>
              <div>
              <h4>{{ asset.title }}</h4>       
              <strong>{{ asset.description }}</strong> <br/>
              <span>{{ asset.price | currency }} </span>
              </div>
            </td>

          </td>
        </tr>
      </table> 
    </a>

  </div>

  <div class="alert alert-warning text-center" ng-if="vm.assets.$resolved && !vm.assets.length">
    No Assets yet, why don't you <a ui-sref="assets.create">create one</a>?
  </div>
</section>
