<section>
  <div class="page-header">
    <h1>Assets</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="asset in vm.assets"
       ui-sref="assets.edit({ assetId: asset._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="asset.created | date:'mediumDate'"></span>
        by
        <span ng-if="asset.user" ng-bind="asset.user.displayName"></span>
        <span ng-if="!asset.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading">{{asset}}</h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.assets.$resolved && !vm.assets.length">
    No Assets yet, why don't you <a ui-sref="assets.create">create one</a>?
  </div>
</section>
