<section>
  <div class="page-header">
    <h1>Analytics</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="analytic in vm.analytics"
       ui-sref="analytics.view({ analyticId: analytic._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="analytic.created | date:'mediumDate'"></span>
        by
        <span ng-if="analytic.user" ng-bind="analytic.user.displayName"></span>
        <span ng-if="!analytic.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="analytic.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.analytics.$resolved && !vm.analytics.length">
    No Analytics yet, why don't you <a ui-sref="analytics.create">create one</a>?
  </div>
</section>
