<section>
  <div class="page-header">
    <h1>Order ID#{{ vm.order._id }}</h1>
    {{vm.order}}
    {{vm.asset}}
  </div>
  <div class="col-md-12">

    <form name="vm.form.orderForm" class="form-horizontal" novalidate>
      <fieldset>

        <div class="form-group" show-errors>
          <label class="control-label" for="id">ID</label>
          <input name="id" type="text" ng-model="vm.order._id" id="title" class="form-control" placeholder="Order Id" disabled>
        </div>


        <div class="form-group" show-errors>
          <label class="control-label" for="name">Total Cost</label>
          <input name="name" type="text" ng-model="vm.totalCost" id="trxAmount" class="form-control" placeholder="Trx Amount" disabled>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="name">totalCount</label>
          <input name="quantity" type="text" ng-model="vm.totalQuantity" id="totalCount" class="form-control" placeholder="totalCount" disabled>
        </div>


        <div class="form-group" show-errors>
          <label class="control-label" for="buyerWallet">Status</label>
          <input name="status" type="text" ng-model="vm.order.status" id="status" class="form-control" placeholder="Status" disabled>
        </div>


        <div class="form-group">
          <h3>Items</h3>
          <ul class="list-group">
              <li class="list-group-item height">
                <small>
                  <span class="col-sm-2">ID</span>
                  <span class="col-sm-2">Title</span>
                  <span class="col-sm-1">Price</span>
                  <span class="col-sm-1">Quantity</span>
                  <span class="col-sm-1">Shipping Status</span>
                  <span class="col-sm-1">Tracking Id</span>
                  <span class="col-sm-1">Shipped Date</span>      
                  <span class="col-sm-1">Company</span>                                   
                  <span class="col-sm-1">Actions</span>
                </small>
              </li>  

              <li ng-repeat="i in vm.order.items" class="list-group-item height">
                <small>
                <span class="col-sm-2"> {{i._id }} </span>
                <span class="col-sm-2"> {{ i.asset.title }} </span>
                <span class="col-sm-1"> {{ i.soldPrice | currency }} </span>
                <span class="col-sm-1"> {{ i.quantity }} </span>
                <span class="col-sm-1"> {{ i.shipping.status }} </span> 
                <span class="col-sm-1"> {{ i.shipping.trackingId }}  </span> 
                <span class="col-sm-1"> {{ i.shipping.shippedDate }}  </span> 
                <span class="col-sm-1"> {{ i.shipping.company }}  </span>                 
                <span class="col-sm-1"> 
                  <button ng-click="vm.shipped(i._id)">apply shipped</button>
                </span>                 

<!--                 <span ng-init="vm.totalQuantity = vm.totalQuantity + i.quantity"> </span> 
                <span ng-init="vm.totalCost = vm.totalCost + (i.quantity * i.asset.price)"> </span>          
               -->
             </small>
              </li>
              <li class="list-group-item height">
                <span class="col-sm-9"> Summary </span>
                <span class="col-sm-1"> {{ vm.order.totalQuantity }} </span>
                <span class="col-sm-1"> {{ vm.order.totalCost | currency }} </span>                
              </li>  
          </ul>

        </div>

<!--         <div class="form-group">
          <br/>
          <button type="button" ng-click="vm.remove()" class="btn btn-default"> Delete </button>
        </div>

 -->        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
