<section>
  <div class="page-header">
    <h1> ORDERS </h1>
  </div>
  <div class="list-group">
    <a ng-repeat="order in vm.orders"
       ui-sref="orders.edit({ orderId: order._id })"
       class="list-group-item">
<!--       <h4 class="list-group-item-heading">{{ order }}</h4>
 -->
          <h4>Order Id: {{ order._id }}</h4>       
          <strong>Asset Address: {{ order.asset }}</strong> <br/>
          <span>Buyer: {{ order.buyerWallet }} </span>
          <span>Quantity: {{ order.quantity }} </span>
          <span>Price: {{ order.totalAmount }} </span>
          <span>Status: {{ order.status }} </span>

    </a>
  </div>

</section>
