<section>
    <div class="page-header">
      <h1>Batch Upload Assets</h1>
    </div>
    <progressbar ng-hide="progressValue === 0" class="progress-striped active" animate="true" max="100" value="progressValue" type="success"><i><span count-to="{{countTo}}" duration="1" count-from="{{countFrom}}"></span> / 100</i></progressbar>
    <div class="text-center form-group" ng-show="uploadedData">
      <button class="btn btn-default" ng-click="upload()">
          Save
      </button>
    </div>
    <div class="text-center form-group" ng-hide="uploader.queue.length">
      <span class="btn btn-default btn-file">
          Upload CSV file <input type="file" nv-file-select uploader="uploader">
      </span>
    </div>
    <table>
      <thead>
        <tr>
          <th>Description</th>
          <th>Hashtags</th>
          <th>Image Url</th>
          <th>Inventory</th>
          <th>Price</th>
          <th>Reward</th>
          <th>SKU</th>
          <th>Title</th>


        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="x in uploadedData" >
          <td ng-click="editThis(this)" ng-repeat="title in x" style="max-width: 200px; overflow: hidden">{{title}}</td>
        </tr>
      </tbody>
    </table>
  
  </section>
  