<section>
  <div class="page-header">
    <h1>Seller Dashboard</h1>
  </div>

  <!-- list all assets from this seller -->
  <div class="panel panel-primary">
      <div class="panel-heading"><h4>Assets</h4></div>
      <div class="panel-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Address</th>
            </tr>
          </thead>
          <tbody ng-repeat="asset in vm.assets">
            <tr>
              <td><a ui-sref="assets.edit({ assetId: asset._id })">{{ asset._id }}</a></td>
              <td>{{ asset.title }}</td>
              <td>{{ asset.address }}</td>
              <td><a ui-sref="assets.edit({ assetId: asset._id })">View Orders</a></td>            
            </tr>
          </tbody>
        </table>
      </div>
    </div>


  <!-- <div class="panel panel-primary">
    <div class="panel-heading"><h4>Summary</h4></div>
    <div class="panel-body">Body Panel</div>
    <div class="panel panel-footer">Panel Footer</div>
  </div> -->

  <!-- Create new asset form -->
  <div class="panel panel-primary">
    <div class="panel-heading"><h4>New Asset</h4></div>
    <div class="panel-body">
      <form name="vm.form.assetForm"  ng-submit="vm.create(vm.form.assetForm.$valid)" novalidate>

        <div class="form-group" show-errors>
          <label class="control-label" for="title">Title</label>
          <input name="title" type="text" ng-model="vm.asset.title" id="title" class="form-control" placeholder="Title" required>
          <div ng-messages="vm.form.assetForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Asset title is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="description">Description</label>
          <input name="description" type="text" ng-model="vm.asset.description" id="description" class="form-control" placeholder="Description" required>
          <div ng-messages="vm.form.assetForm.description.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Asset description is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="ether">Total Cost</label>
          <input name="totalCost" type="text" ng-model="vm.asset.totalCost" id="totalCost" class="form-control" placeholder="total cost in tokens" required>
          <div ng-messages="vm.form.assetForm.totalCost.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Total cost is required.</p>
          </div>       
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="asset">Inventory</label>       
          <input name="inventoryCount" type="text" ng-model="vm.asset.inventoryCount" id="inventoryCount" class="form-control" placeholder="Inventory" required ng-disabled="vm.asset._id">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
  
  

</section>
