<section>
  <div class="page-header">
    <h1>Seller Dashboard</h1>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading"><h4>Summary</h4></div>
    <div class="panel-body">Body Panel</div>
    <div class="panel panel-footer">Panel Footer</div>
  </div>


  <!-- Create new asset form -->
  <div class="panel panel-primary">
    <div class="panel-heading"><h4>New Asset</h4></div>
    <div class="panel-body">
      <form name="vm.form.assetForm"  ng-submit="vm.create(vm.form.assetForm.$valid)" novalidate>

        <div class="form-group" show-errors>
          <label class="control-label" for="title">Title</label>
          <input name="title" type="text" ng-model="vm.asset.title" id="title" class="form-control" placeholder="Title" required>
          <div ng-messages="vm.form.assetForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Asset title is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="description">Description</label>
          <input name="description" type="text" ng-model="vm.asset.description" id="description" class="form-control" placeholder="Description" required>
          <div ng-messages="vm.form.assetForm.description.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Asset description is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="category">Category</label>
          {{ vm.asset.category }}
          <select class="form-control" name="category" ng-model="vm.asset.category" ng-options="c._id as c.name for c in vm.categories" required>
          </select>   
          <div ng-messages="vm.form.assetForm.category.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Asset category is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="brand">Brand</label>
          <input name="brand" type="text" ng-model="vm.asset.brand" id="brand" class="form-control" placeholder="Description" required>
          <div ng-messages="vm.form.assetForm.brand.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Asset brand is required.</p>
          </div>
        </div>


        <div class="form-group" show-errors>
          <label class="control-label" for="price">Price</label>
          <input name="price" type="text" ng-model="vm.asset.price" id="price" class="form-control" placeholder="price" required>
          <div ng-messages="vm.form.assetForm.price.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Price is required.</p>
          </div>       
        </div>

       <div class="form-group" show-errors>
          <label class="control-label" for="asset">Reward</label>
          <input name="inventoryCount" type="text" ng-model="vm.asset.reward" id="reward" class="form-control"
            placeholder="Reward" required>
        </div>
        

        <div class="form-group" show-errors>
          <label class="control-label" for="asset">Inventory</label>       
          <input name="inventoryCount" type="text" ng-model="vm.asset.inventoryCount" id="inventoryCount" class="form-control" placeholder="Inventory" required ng-disabled="vm.asset._id">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>

    <div class="panel panel-footer">
        <alert type="danger" ng-show="vm.error" class="text-center text-danger">
          <span ng-bind="vm.error"></span>
        </alert>
        <div ng-show="vm.success" class="text-center text-success">
          <strong ng-bind="vm.success"></strong>
        </div>

    </div>
  </div>
  
  <!-- list all assets from this seller -->
  <div class="panel panel-primary">
    <div class="panel-heading"><h4>Assets</h4></div>
    <div class="panel-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Orders</th>
          </tr>
        </thead>
        <tbody ng-repeat="asset in vm.assets">
          <tr>
            <td><a ui-sref="assets.edit({ assetId: asset._id })">{{ asset._id }}</a></td>
            <td>{{ asset.title }}</td>
            <td><a ui-sref="assets.edit({ assetId: asset._id })">View Orders</a></td>            
          </tr>
        </tbody>
      </table>
    </div>
    <div class="panel panel-footer">Panel Footer</div>
  </div>

</section>
