<section>
  <div class="page-header">
    <h1>Sellers</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="seller in vm.sellers"
       ui-sref="sellers.view({ sellerId: seller._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="seller.created | date:'mediumDate'"></span>
        by
        <span ng-if="seller.user" ng-bind="seller.user.displayName"></span>
        <span ng-if="!seller.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="seller.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.sellers.$resolved && !vm.sellers.length">
    No Sellers yet, why don't you <a ui-sref="sellers.create">create one</a>?
  </div>
</section>
