<section>
  <div ng-show="env.indexOf('dev') > -1">
  </div>

  <div class="page-header">
    <h3> My Cart </h3>
  </div>

  <div class="list-group">
    <a ng-repeat="item in vm.cart.cartItems"
       ui-sref="assets.view({ assetId: item.asset._id })"
       class="list-group-item">

      <h4 class="list-group-item-heading row">
        <img class="img-thumb col-xs-2" ng-src="{{item.asset.imageURL}}"></img>
        <span class="col-xs-2" ng-bind="item.asset.title"></span>
        <span class="col-xs-3" ng-bind="item.quantity"></span>
        <span class="col-xs-3" ng-bind="item.asset.price | currency"></span>
        <span class="col-xs-2" ng-bind="item.quantity * item.asset.price | currency"></span>
        <span ng-init="vm.totalCost = vm.totalCost + (item.quantity * item.asset.price)"> </span>     
        <span ng-init="vm.totalQuantity = vm.totalQuantity + item.quantity"> </span>        
      </h4>
      <p class="list-group-item-text row">
        <span class="col-xs-3" ng-bind="item.asset.description"></span>
      </p>
    </a>

    <div class="list-group-item">    
      <h3 class="list-group-item-heading row">
        <span class="col-xs-6">Totals</span>
        <span class="col-xs-3" ng-bind="vm.totalQuantity"></span>
        <span class="col-xs-3" ng-bind="vm.totalCost | currency"></span>
      </h3>
      <br/>
    </div>
  

  </div>

  <div class="page-header">
    <h3>Payment Information</h3>
  </div>
  <div class="col-md-12">
      <form action="/charge" method="post" id="payment-form">
        <div class="form-row">
          <label for="card-element">
            Credit or debit card
          </label>
          <div id="card-element">
            <!-- A Stripe Element will be inserted here. -->
          </div>
      
          <!-- Used to display form errors. -->
          <div id="card-errors" role="alert"></div>
        </div>
      
        <button class="btn btn-success" style="margin-top:10px; float:right">Submit Payment</button>
      </form>
  </div>


  <div class="col-md-12">
    <form name="vm.form.cartForm" class="form-horizontal" ng-submit="vm.save(vm.form.cartForm.$valid)" novalidate>
      <fieldset>
        
        <div class="form-group">
          <a class="btn btn-primary" ng-click="vm.order()">
            Submit Order
          </a>
          <a class="btn btn-primary" ng-click="vm.remove()">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </div>


        <div class="form-group">
         
        </div>

        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>



</section>
