<section>
  <div ng-show="env.indexOf('dev') > -1">
  </div>

  <div class="page-header">
    <h3> My Cart </h3>

{{ vm.instagramAssets }}
  </div>

  <div class="list-group">
    <a ng-repeat="item in vm.cart.cartItems"
       ui-sref="assets.view({ assetId: item.asset._id })"
       class="list-group-item">

      <h4 class="list-group-item-heading row">
        <img class="img-thumb col-xs-2" ng-src="{{item.asset.imageURL[0]}}"></img>
        <span class="col-xs-2" ng-bind="item.asset.title"></span>
        <span class="col-xs-3" ng-bind="item.quantity"></span>
        <span class="col-xs-3" ng-bind="item.asset.price | currency"></span>
        <span class="col-xs-2" ng-bind="item.quantity * item.asset.price | currency"></span>     
      </h4>
      <p class="list-group-item-text row">
        <span class="col-xs-3" ng-bind="item.asset.description"></span>
      </p>
    </a>

    <div class="list-group-item">    
      <h4 class="list-group-item-heading row">
        <span class="col-xs-6">Totals</span>
        <span class="col-xs-3" ng-bind="vm.cart.totalQuantity"></span>
        <span class="col-xs-3" ng-bind="vm.cart.totalCost | currency"></span>
      </h4>
      <br/>
    </div>
  
  </div>


  <div class="list-group">
    <a ng-repeat="item in vm.hashtagAssets"
       class="list-group-item">
       {{item}}
  </a>

  </div>



  <div class="panel panel-primary">
    <div class="panel-heading"><h4>Enter Billing Address</h4></div>
    <div class="panel-body">

    <form name="vm.form.orderForm" class="" novalidate>
      <fieldset>        

        <div class="form-group" show-errors>
          <label class="control-label" for="billingAddress1">Address 1</label>
          <input name="billingAddress1" type="text" ng-model="vm.order.billing.address1" id="billingAddress1" class="form-control" placeholder="address">
          <div ng-messages="vm.form.orderForm.billingAddress1.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Address is required.</p>
          </div>        
        </div>


        <div class="form-group" show-errors>
          <label class="control-label" for="billingAddress2">Address 2</label>
          <input name="billingAddress2" type="text" ng-model="vm.order.billing.address2" id="billingAddress2" class="form-control" placeholder="address2">  
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="billingCity">City</label>
          <input name="billingCity" type="text" ng-model="vm.order.billing.city" id="billingCity" class="form-control" placeholder="city">
          <div ng-messages="vm.form.orderForm.billingCity.$error" role="alert">
            <p class="help-block error-text" ng-message="required">City is required.</p>
          </div>        
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="billingState">State</label>
          <input name="billingState" type="text" ng-model="vm.order.billing.state" id="billingState" class="form-control" placeholder="state">
          <div ng-messages="vm.form.orderForm.billingState.$error" role="alert">
            <p class="help-block error-text" ng-message="required">State is required.</p>
          </div>        
        </div>


        <div class="form-group" show-errors>
          <label class="control-label" for="billingZip">Zip</label>
          <input name="billingZip" type="text" ng-model="vm.order.billing.zip" id="billingZip" class="form-control" placeholder="zip">
          <div ng-messages="vm.form.orderForm.billingZip.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Zip is required.</p>
          </div>        
        </div>

      </fieldset>
    </form>
  </div>
</div>


  <div class="panel panel-primary">
    <div class="panel-heading"><h4>Enter Shipping Address</h4></div>
    <div class="panel-body">
      <form name="vm.form.orderForm" class="" novalidate>
        <fieldset>        

          <div class="form-group" show-errors>
            <label class="control-label" for="shippingAddress1">Address 1</label>
            <input name="shippingAddress1" type="text" ng-model="vm.order.shipping.address1" id="shippingAddress1" class="form-control" placeholder="address">
            <div ng-messages="vm.form.orderForm.shippingAddress1.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Address is required.</p>
            </div>        
          </div>


          <div class="form-group" show-errors>
            <label class="control-label" for="shippingAddress2">Address 2</label>
            <input name="shippingAddress2" type="text" ng-model="vm.order.shipping.address2" id="shippingAddress2" class="form-control" placeholder="address2">  
          </div>

          <div class="form-group" show-errors>
            <label class="control-label" for="shippingCity">City</label>
            <input name="shippingCity" type="text" ng-model="vm.order.shipping.city" id="shippingCity" class="form-control" placeholder="city">
            <div ng-messages="vm.form.orderForm.shippingCity.$error" role="alert">
              <p class="help-block error-text" ng-message="required">City is required.</p>
            </div>        
          </div>

          <div class="form-group" show-errors>
            <label class="control-label" for="shippingState">State</label>
            <input name="shippingState" type="text" ng-model="vm.order.shipping.state" id="shippingState" class="form-control" placeholder="state">
            <div ng-messages="vm.form.orderForm.shippingState.$error" role="alert">
              <p class="help-block error-text" ng-message="required">State is required.</p>
            </div>        
          </div>


          <div class="form-group" show-errors>
            <label class="control-label" for="shippingZip">Zip</label>
            <input name="shippingZip" type="text" ng-model="vm.order.shipping.zip" id="shippingZip" class="form-control" placeholder="zip">
            <div ng-messages="vm.form.orderForm.shippingZip.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Zip is required.</p>
            </div>        
          </div>

        </fieldset>
      </form>
  </div>
</div>


  <div class="page-header">
    <h3>Payment Information</h3>
  </div>
  <div class="col-md-12">
    <button class="btn" ng-click="vm.copyToClipboard()" >copy test credit card #</button>
    <form action="/charge" method="post" id="payment-form">
      <div class="form-row">
        <label for="card-element">
          Credit or debit card
        </label>
        <div id="card-element">
          <!-- A Stripe Element will be inserted here. -->
        </div>
    
        <!-- Used to display form errors. -->
        <div id="card-errors" role="alert"></div>
      </div>
    
      <button class="btn btn-success" style="margin-top:10px; float:right">Submit Payment</button>
    </form>
  </div>



  <div class="col-md-12">
    <form name="vm.form.cartForm" class="form-horizontal" ng-submit="vm.save(vm.form.cartForm.$valid)" novalidate>
      <fieldset>
        
        <div class="form-group">
          <a class="btn btn-primary" ng-click="vm.submitOrder()">
            Submit Order
          </a>
          <a class="btn btn-primary" ng-click="vm.remove()">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </div>


        <div class="form-group">
         
        </div>

        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>


<br/>
<br/>
<br/>

  <div class="list-group">
     <h3> Most Recent Hashtag Items From This Affiliate </h3>
    <a ng-repeat="h in vm.hashtagAssets"
       ui-sref="assets.view({ assetId: h.asset._id })"
       class="list-group-item">
      <h4 class="list-group-item-heading row">
        <img class="img-thumb col-xs-2" src="modules/assets/client/img/asset.jpeg"></img>
        <span class="col-xs-2" ng-bind="h.asset.title"></span>
        <span class="col-xs-3" ng-bind="h.asset.price | currency"></span>
      </h4>
    </a>
  
  </div>

</section>
