<section>
  <div class="page-header">
    <h1>CHECK IN</h1>

    <label class="control-label" for="query">Please Enter Your Registered Email</label>
    <input name="query" type="text" ng-model="vm.query" id="query" class="form-control" placeholder="email" >
    <div class="form-group">
      <button type="button" class="btn btn-default" ng-click="vm.findByEmail()">Submit</button>
    </div>
    <div ng-show="vm.error" class="text-danger">
      <strong ng-bind="vm.error"></strong>
    </div>
  </div>
</section>
