<section>
  <div class="page-header">
    <button type="button" ui-sref="reviews.list" class="btn">Back</button>
    <h1>REVIEW</h1>
    <h2 ng-show="vm.review._id">{{ vm.review.candidate.lastName + ', ' + vm.review.candidate.firstName}}</h2>

    <label class="control-label" for="experience">Experience</label>
    <input name="experience" type="text" ng-model="vm.review.experience" id="skills" class="form-control" placeholder="experience" >
    

    <label class="control-label" for="communication">Communication</label>
    <input name="communication" type="text" ng-model="vm.review.communication" id="communication" class="form-control" placeholder="communication" >

    <label class="control-label" for="cultureFit">Culture Fit</label>
    <input name="cultureFit" type="text" ng-model="vm.review.cultureFit" id="cultureFit" class="form-control" placeholder="cultureFit" >


    <label class="control-label" for="skills">Skill</label>
    <input name="skills" type="text" ng-model="vm.review.skills" id="skills" class="form-control" placeholder="skills" >

    <label class="control-label" for="score">Score</label>
    <input name="score" type="text" ng-model="vm.review.score" id="score" class="form-control" placeholder="score" disabled>


    <div class="form-group" ng-show="!vm.review._id">
      <button type="button" class="btn btn-default" ng-click="vm.create()">Create</button>
    </div>
    
    <div class="form-group" ng-show="vm.review._id">      
      <button type="button" class="btn btn-default" ng-click="vm.update()">Update</button>
      <button type="button" class="btn btn-default" ng-click="vm.remove()">Delete</button>
    </div>

    <div ng-show="vm.success" class="text-success">
      <strong ng-bind="vm.success"></strong>
    </div>


    <div ng-show="vm.error" class="text-danger">
      <strong ng-bind="vm.error"></strong>
    </div>


  </div>
</section>
