<section>
  <div class="page-header">
    <h1>{{vm.candidate._id ? 'Edit Candidate' : 'New Candidate'}}</h1>
  </div>
  <strong>Locked by {{ vm.candidate.lockedBy.displayName }} </strong>
  <button type="button" class="btn btn-default" ng-click="vm.unlock()"> Unlock </button>          

  <div class="col-md-12">
    <form name="vm.form.candidateForm" class="form-horizontal" ng-submit="vm.register(vm.form.candidateForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="lastName">Last</label>
          <input name="name" type="text" ng-model="vm.candidate.lastName" id="lastName" class="form-control" placeholder="LastName" required>
          <div ng-messages="vm.form.candidateForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Last name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="firstName">First</label>
          <input name="firstName" type="text" ng-model="vm.candidate.firstName" id="firstName" class="form-control" placeholder="FirstName" required>
          <div ng-messages="vm.form.candidateForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">First name is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="email">Email</label>
          <input name="email" type="text" ng-model="vm.candidate.email" id="email" class="form-control" placeholder="email" required>
          <div ng-messages="vm.form.candidateForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email is required.</p>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label">Appointment</label><br/>
          <input name="appointment" type="text" ng-model="vm.candidate.appointment" id="appointment" class="form-control" placeholder="appointment">          
        </div>


        <div class="form-group" show-errors>
          <label class="control-label" for="sms">SMS</label>
          <input name="sms" type="text" ng-model="vm.candidate.sms" id="lastName" class="form-control" placeholder="sms" required>
          <div ng-messages="vm.form.candidateForm.sms.$error" role="alert">
            <p class="help-block error-text" ng-message="required">SMS is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="stage">position</label>

          <select class="form-control" name="position" ng-model="vm.candidate.position">            
           
           <option ng-repeat="x in vm.positions" {{x == vm.candidate.position ? 'selected' : '' }} value={{x}}> {{x}} </option>

          </select>

          <div ng-messages="vm.form.candidateForm.position.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Position is required.</p>
          </div>
        </div>


        <div class="form-group" show-errors>
          <label class="control-label" for="stage">stage</label>

          <select class="form-control" name="stage" ng-model="vm.candidate.stage">
           
           <option ng-repeat="x in vm.stages" {{x == vm.candidate.stage ? 'selected' : '' }} 
                  value={{x}}> {{x}} </option>                        
          </select>

          <div ng-messages="vm.form.candidateForm.stage.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Stage is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="department">Departments</label>
          <select class="form-control" name="department" 
            ng-model="vm.candidate.department">

            <option ng-repeat="x in vm.departments" {{x == vm.candidate.department ? 'selected' : '' }} value={{x}}> {{x}} </option>

          </select>

          <div ng-messages="vm.form.candidateForm.valuation.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Valuation is required.</p>
          </div>
        </div>


        <div class="form-group" show-errors>
          <label class="control-label" for="valuation">valuation</label>

          <select class="form-control" name="valuation" ng-model="vm.candidate.valuation">                        
            <option ng-repeat="x4 in vm.valuations" {{x4 == vm.candidate.valuation ? 'selected' : '' }} value={{x4}}> {{x4}} </option>
          </select>


          <div ng-messages="vm.form.candidateForm.valuation.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Valuation is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="rating">rating</label>
          <input name="rating" type="text" ng-model="vm.candidate.rating" id="status" class="form-control" placeholder="rating">
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="rating">note</label>
          <input name="note" type="text" ng-model="vm.note" id="notes" class="form-control" placeholder="note">
        </div>

        <div class="form-group">
          <label class="control-label">Notes</label><br/>
          <span ng-repeat="note in vm.candidate.notes"> {{ note }}</span><br/>          
        </div>


        <div class="form-group">
          <label class="control-label">Registered From</label><br/>
          <input name="registeredFrom" type="text" ng-model="vm.candidate.registeredFrom" id="registeredFrom" class="form-control" placeholder="registeredFrom" required>          
        </div>
                
        <div class="form-group">                 
          <label class="control-label" for="doc">Document Resume</label>                                     
          <a target="_blank" href="{{vm.candidate.resumeDocURL}}"> Open </a>          
        </div>

        <div class="form-group">
          <button ng-show="!vm.candidate._id" type="button" class="btn btn-default" ng-click="vm.register()"> Register </button>          
          <button ng-show="vm.candidate._id" type="button" class="btn btn-default" ng-click="vm.update()"> Update</button>
          <button ng-show="vm.candidate._id" type="button" class="btn btn-default" ng-click="vm.checkin()">Check in</button>


          <button ng-show="vm.candidate._id" type="button" class="btn btn-default" ng-click="vm.reviewPage()">Review</button>


          <button ng-show="vm.authentication.user._id" type="button" class="btn btn-default" ng-click="vm.remove()">Delete</button>
          </div>
        </div>


        <div ng-show="vm.success" class="text-success">
          <strong ng-bind="vm.success"></strong>
        </div>


        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
