<section>
  <div class="page-header">
    <h1>Position</h1>

    <label class="control-label" for="name">Name</label>
    <input name="name" type="text" ng-model="vm.position.name" id="name" class="form-control" placeholder="name" >
    
    <label class="control-label" for="display">Display</label>
    <input name="display" type="text" ng-model="vm.position.display" id="display" class="form-control" placeholder="display" >


  <div class="form-group">
    <label class="control-label" for="department">Department</label>

    <select 
      class="form-control" 
      name="department" 
      ng-model="vm.position.department"
      ng-options="x.display for x in vm.departments track by x._id">                 
    </select>
  </div>


    <div class="form-group" ng-show="!vm.position._id">
      <button type="button" class="btn btn-default" ng-click="vm.create()">Create</button>
    </div>
    
    <div class="form-group" ng-show="vm.position._id">      
      <button type="button" class="btn btn-default" ng-click="vm.update()">Update</button>
      <button type="button" class="btn btn-default" ng-click="vm.remove()">Delete</button>
    </div>

    <div ng-show="vm.success" class="text-success">
      <strong ng-bind="vm.success"></strong>
    </div>


    <div ng-show="vm.error" class="text-danger">
      <strong ng-bind="vm.error"></strong>
    </div>


  </div>
</section>
