<section>
  <div class="page-header">
    <h1>Department</h1>

    <label class="control-label" for="name">Name</label>
    <input name="name" type="text" ng-model="vm.department.name" id="name" class="form-control" placeholder="name" >
    
    <label class="control-label" for="display">Display</label>
    <input name="display" type="text" ng-model="vm.department.display" id="display" class="form-control" placeholder="display" >


    <label class="control-label" for="interviewers">Number of Interviewers</label>
    <input name="display" type="text" ng-model="vm.department.interviewers" id="itnerviewers" class="form-control" placeholder="interviewers" >

    <label class="control-label" for="interview length">Interview Length</label>
    <input name="interview length" type="text" ng-model="vm.department.interviewLength" id="display" class="form-control" placeholder="interviewLength" >


    <div class="form-group" ng-show="!vm.department._id">
      <button type="button" class="btn btn-default" ng-click="vm.create()">Create</button>
    </div>
    
    <div class="form-group" ng-show="vm.department._id">      
      <button type="button" class="btn btn-default" ng-click="vm.update()">Update</button>
      <button type="button" class="btn btn-default" ng-click="vm.remove()">Delete</button>
      <button type="button" class="btn btn-default" ng-click="vm.createSchedule()">Create Schedule</button>
    </div>

    <div ng-show="vm.success" class="text-success">
      <strong ng-bind="vm.success"></strong>
    </div>


    <div ng-show="vm.error" class="text-danger">
      <strong ng-bind="vm.error"></strong>
    </div>


  </div>
</section>
