<section>
  <div class="page-header">
    <h1>Appointment</h1>

    <label class="control-label" for="time">Time</label>    
     
    <span class="form-control" ng-bind="vm.appointment.appointment | date: 'hh:mm MM/dd/yyyy'" disabled> </span>

    <label class="control-label" for="department">Department</label>
    <span class="form-control" ng-bind="vm.appointment.department.display" disabled> </span>
    
    <label class="control-label" for="candidateName">Candidate</label>
  
    <span class="form-control" d> 
      {{vm.appointment.candidate ? vm.appointment.candidate.firstName + ' ' + vm.appointment.candidate.lastName : '' }} 
    </span>
    
    <div class="form-group">      
      <input name="candidate" type="text" ng-model="vm.appointment.candidate._id" id="candidate" class="form-control" placeholder="candidate id">
    </div>

    <div ng-messages="vm.form.firstName.$error" role="alert">
      <p class="help-block error-text" ng-message="required">First name is required.</p>  
    </div>

    <div>      
      <button type="button" class="btn btn-default" ng-click="vm.update()">Set Appointment</button>    
      <button type="button" class="btn btn-default" ng-click="vm.remove()">Clear Appointment</button>
    </div>

    </div>

    <div ng-show="vm.success" class="text-success">
      <strong ng-bind="vm.success"></strong>
    </div>

    <div ng-show="vm.error" class="text-danger">
      <strong ng-bind="vm.error"></strong>
    </div>


  </div>
</section>
