<section>
  <div class="page-header">
    <h1>Reviews</h1>
  </div>


  <div class="list-group">
  
    <div href="#" class="list-group-item active">
      <h4 class="list-group-item-heading row">        
        <span class="col-sm-4">CANDIDATE</span>
        <span class="col-sm-4">REVIEWER</span>        
        <span class="col-sm-4">OVERALL SCORE</span>        
      </h4>      
    </div>

    <a ng-repeat="review in vm.pagedItems"      
       ui-sref="reviews.edit({ candidateId: review.candidate._id })"
       class="list-group-item">
      <h4 class="list-group-item-heading row">
        <span class="col-sm-4">{{ review.candidate.lastName }}, {{review.candidate.firstName }} </span>
        <span class="col-sm-4">{{review.reviewer.displayName}} </span>
        <span class="col-sm-4">{{ review.score }} </span>
      </span>
      </h4>
    </a>
  </div>

  <pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.reviews.length" 
    ng-model="vm.currentPage" ng-change="vm.pageChanged()"></pagination> 

</section>
