<section>
  <div class="page-header">
    <h1>Departments</h1>
  </div>

  <div class="list-group">
    <div href="#" class="list-group-item active">
      <h4 class="list-group-item-heading row">
          <span class="col-sm-6">NAME </span>
          <span class="col-sm-6">DISPLAY </span>          
      </h4>      
    </div>

    <a ng-repeat="dept in vm.pagedItems"
       ui-sref="departments.edit({ departmentId: dept._id })"
       class="list-group-item">
      <h4 class="list-group-item-heading row">
          <span class="col-sm-6">{{ dept.name }}</span>        
          <span class="col-sm-6">{{ dept.display }}</span>                
      </h4>      
    </a>
  </div>

  <pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.departments.length" 
    ng-model="vm.currentPage" ng-change="vm.pageChanged()"></pagination> 
  
</section>
