<section>
  <div class="page-header">
    <h1>Departments</h1>
  </div>

  <div class="list-group">
    <div href="#" class="list-group-item active">
      <h4 class="list-group-item-heading">NAME
        <p class="list-group-item-text pull-right">DISPLAY</p>
      </h4>      
    </div>

    <a ng-repeat="dept in vm.departments"
       ui-sref="departments.edit({ departmentId: dept._id })"
       class="list-group-item">
      <h4 class="list-group-item-heading">
        {{ dept.name }}        
        <span class="pull-right">{{dept.display}}</span>
      </h4>      
    </a>
  </div>

  
</section>
