<section>
  <div class="page-header">    
    <h1>CHECKIN QUEUE</h1>
    <a ng-repeat="candidate in vm.candidates"
       ui-sref="candidates.edit({ candidateId: candidate._id })"
       class="list-group-item">      
      <h4 class="list-group-item-heading">
        {{ candidate.lastName }}, {{candidate.firstName }} </br> 
        POSITION: {{candidate.position.display}} </br>
        DEPARTMENT: {{candidate.position.department.display}}
      <strong class="pull-right" ng-show="candidate.lockedBy"> Locked by {{ candidate.lockedBy.displayName }}</strong>
      </h4>
    </a>
  </div>
</section>
