<section>
  <div class="page-header">
    <h1>Candidates</h1>
  </div>

<div class="list-group">
  <h4 class="list-group-item-heading">Lookup by email, last name, telephone</h4>  
  <div class="list-group-item"><input type="text" class="form-control" name="search" ng-model="vm.search">
  </div>
  <div class="list-group-item"><button type="button" class="btn-default" ng-click="vm.findCandidate()">Search</div>  
</div>

<div class="list-group">
  <h4 class="list-group-item-heading">Filters</h4>  
    <div class="list-group-item">department: 
            
      <select class="form-control" name="department" ng-model="vm.department">                        
        <option ng-repeat="x in vm.departments" value={{x._id}}> {{x.display}} </option>
      </select>

    </div>
    <div class="list-group-item">stage:             
      <select class="form-control" name="stage" ng-model="vm.stage">                        
        <option ng-repeat="x in vm.stages" value={{x}}> {{x}} </option>
      </select>

    </div>
    <div class="list-group-item">position: 
      <select class="form-control" name="position" ng-model="vm.position">                        
        <option ng-repeat="x in vm.positions" value={{x._id}}> {{x.display}} </option>
      </select>      
    </div>
    
    <div class="list-group-item"><button type="button" class="btn-default" ng-click="vm.applyFilters()">Apply</div>
</div>

  <div class="list-group">
    <a ng-repeat="candidate in vm.candidates"
       ui-sref="candidates.edit({ candidateId: candidate._id })"
       class="list-group-item">
      <h4 class="list-group-item-heading">{{ candidate.lastName }}, {{candidate.firstName }} <br/> {{ candidate.email }} POSITION: {{candidate.position.display}} DEPARTMENT: {{candidate.department.display}}
      <strong class="pull-right" ng-show="candidate.lockedBy"> Locked by {{ candidate.lockedBy.displayName }} </strong>
      <strong class="pull-right"> appointment: {{ candidate.appointment | date: 'hh:mm a MM/dd/yyyy' }} </strong>
      </h4>
      
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.candidates.$resolved && !vm.candidates.length">
    No Candidates yet, why don't you <a ui-sref="candidates.create">create one</a>?
  </div>
</section>
