<section>
  <div class="page-header">
    <h1>Positions</h1>
  </div>


  <div class="form-group">
    <label class="control-label" for="departments">Filter by departments</label>          
    <select 
    class="form-control" 
    name="departments" 
    ng-model="vm.department"
    ng-options="x.name for x in vm.departments track by x._id"
    ng-change="vm.listByDept()"
    >                   
    </select>
  </div>


  <div class="list-group">

    <div href="#" class="list-group-item active">
      <h4 class="list-group-item-heading">POSITION
        <p class="list-group-item-text pull-right">DEPARTMENT</p>
      </h4>      
    </div>

    <a ng-repeat="position in vm.positions"
       ui-sref="positions.edit({ positionId: position._id })"
       class="list-group-item">
      <h4 class="list-group-item-heading">
        {{ position.display }}
        <span class="pull-right"> {{position.department.display}} </span>
      </h4>      
    </a>
  </div>

  
</section>
