<section>
  <div class="page-header">
    <h1>Upload Resume</h1>
  </div>
  
  <form method="post" enctype="multipart/form-data" action="{{vm.uploadDocURL}}" class="form-group" ng-show="vm.registeredFrom == 'WEB'">    

    <div clas="form-group">
     <input type="file" name="newResumeDoc" />                              
    </div>
    <br/> 
    
    <input type="text" name="testing">

    <div class="form-group">      
      <input type="submit" name="submit" class="btn btn-default" value="submit"></center>
    </div>  

  </form>


    <form method="post" enctype="multipart/form-data" action="{{vm.uploadImageURL}}" class="form-group" ng-show="vm.registeredFrom == 'MOBILE'">
      <h2><center>Upload Files/Images</center></h2>  
      <div clas="form-group">
        <input type="file" name="newResumeImage" />
      </div>
      <br/>

      <div clas="form-group">   
       <input type="file" name="newResumeImage" />
      </div>

      <div clas="form-group">
       <input type="submit" name="submit" class="btn btn-default" value="submit"></center>
      </div>
    </form>

    <div class="form-group">
      <button type="button" ng-click="vm.finish()"class="pull-right btn btn-default">Next</button>
    </div>        

</section>
