<section>
  <div class="page-header">
    <h1>Hashtags</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="hashtag in vm.hashtags"
       ui-sref="hashtags.view({ hashtagId: hashtag._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="hashtag.created | date:'mediumDate'"></span>
        by
        <span ng-if="hashtag.affiliate" ng-bind="hashtag.user.displayName"></span>
        <span ng-if="!hashtag.affiliate">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading">Asset => {{ hashtag.asset.title }}  Hashtag Name => {{ hashtag.name }}  Affiliate => {{ hashtag.affiliate.displayName }} </h4>
    </a>
  </div>

</section>
