<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title></title>
</head>

<body>
  <p>Hello seller {{name}}!</p>

  <p>
    A customer just placed an order, here's their info
  </p>
  <h3>
    Order #: {{order.id}}
  </h3>
  <h3>
    Shipping address:
  </h3>
  <p>
    {{order.customer.firstName}} {{order.customer.lastName}}<br/>
    {{order.shipping.address1}}<br/>
    {{order.shipping.address2}}<br/>
    {{order.shipping.city}}, {{order.shipping.state}}, {{order.shipping.zip}}
  </p>
  
  <h3>
    Product info:
  </h3>
  <p>
    {{asset.title}}<br/>
    Quantity: {{orderItem.quantity}}
  </p>
  </br>

    
  <p>Thank you for your attention. <br/>The pollenly Support Team</p>
  
</body>

</html>
