<section>
  <div class="page-header">
    <h1>Authenticate IG</h1>
  </div>

  <p>We need read permission to your Instagram profile so we can extract post hashtags for spl.yt</p>
  </br>
  <button class="btn" ng-click="vm.igLogin()" ng-disabled="{{vm.isIgAuthenticated}}">Give Permissions</button>
  </br>
  <span  style="color: red" ng-show="{{vm.isIgErrored}}">Aww snap. We need your account permission to proceed.</span>
  <span  style="color: green" ng-show="{{vm.isIgAuthenticated}}">Contrats! your Instagram account is now linked with spl.yt</span>
</section>
