.navbar {
	background: var(--splyt-midblue);
}

.nav li a {
	opacity: 0.8;
	color: var(--splyt-white);
}

.navbar-brand span {
	color: var(--splyt-white);
}

.nav li a:hover,
.nav>li>a:focus {
	background: none !important;
	opacity: 1;
}

.active {
	opacity: 1 !important;
	color: white !important;
	background-color: #a4eeff00;
}

.dropdown-toggle>.active {
	background-color: black;
}


.headerLogo {
	width: 25px;
	height: 25px;
	background-color: #fff;
	border-radius: 50%;
}

.dropdown-menu {
	color: var(--splyt-white);
	background-color:var(--splyt-midblue-noAlpha);
}
