<section>
  <div class="page-header">
    <h1>{{vm.shopify._id ? 'Edit Shopify' : 'Connect Shopify Store'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.shopifyForm" class="form-horizontal" ng-submit="vm.save(vm.form.shopifyForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Shopify store name</label>
          <input name="name" type="text" ng-model="vm.shopify.name" id="name" class="form-control" placeholder="Store name" required>
          <div ng-messages="vm.form.shopifyForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Shopify name is required.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.shopify._id ? 'Update' : 'Connect'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
