<section>
  <div class="page-header">
    <h1 ng-bind="vm.shopify.shopName"></h1>
  </div>
  <div class="pull-right"
       ng-show="vm.shopify.isCurrentUserOwner">
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Authorized on
      <span ng-bind="vm.shopify.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.shopify.user"
            ng-bind="vm.shopify.user.displayName"></span>
      <span ng-if="!vm.shopify.user">Deleted User</span>
    </em>
  </small>
  <div class = "page-header">
    
  </div>
  <a class="btn btn-info" ng-click="vm.pullInventory()">
    <i class="glyphicon glyphicon-menu-down"></i></br>Pull Inventory</br>
    <small>Shopify to Splyt</small>
  </a>
  <a class="btn btn-warning" ng-click="vm.pushInventory()">
    <i class="glyphicon glyphicon-menu-up"></i></br>Push Inventory</br>
    <small>Splyt to blockchain</small>
  </a>
  <a class="btn btn-success" ng-click="vm.updateSellers()">
    <i class="glyphicon glyphicon-menu-right"></i></br>Update Sellers</br>
    <small>Blockchain to all shopify</small>
  </a>
  <div class="list-group">
    <a ng-repeat="product in vm.products"
      ui-sref="shopifies.view({ shopifyId: shopify._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Price: $
        <span ng-bind="product.variants[0].price"></span>
        Inventory: 
        <span ng-bind="product.variants[0].inventory_quantity"></span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="product.title"></h4>
    </a>
  </div>  
  <p class="lead" ng-bind="vm.shopify.content"></p>
</section>
