<section>
  <div class="page-header">
    <h1 ng-bind="vm.shopify.shopName"></h1>
  </div>
  <div class="pull-right"
       ng-show="vm.shopify.isCurrentUserOwner">
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Authorized on
      <span ng-bind="vm.shopify.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.shopify.user"
            ng-bind="vm.shopify.user.displayName"></span>
      <span ng-if="!vm.shopify.user">Deleted User</span>
    </em>
  </small>
  <div class = "page-header">
    
  </div>
  <a class="btn btn-info" ng-click="vm.pullInventory()">
    <i class="glyphicon glyphicon-menu-down"></i></br>Pull Inventory</br>
    <small>Shopify to Splyt</small>
  </a>
  <a class="btn btn-warning" ng-click="vm.pushBlockchain()">
    <i class="glyphicon glyphicon-menu-up"></i></br>Push Inventory</br>
    <small>Splyt to blockchain</small>
  </a>
  <a class="btn btn-success" ng-click="vm.updateSellers()">
    <i class="glyphicon glyphicon-menu-right"></i></br>Update Sellers</br>
    <small>Blockchain to all shopify</small>
  </a>
  <div class="list-group">
    <button ng-repeat="product in vm.products"
       class="list-group-item list-group-item-action">      
      <img ng-src="{{product.image.src}}" style="border-radius:50%; max-height: 150px;">
      <input type="checkbox" class="form-check-input" ng-click="vm.selectProduct(this)">
      <label class="form-check-label" for="exampleCheck1">Select for blockchain</label>
      <h4 class="list-group-item-heading" ng-bind="product.title"></h4>

      <h3 style="display:inline">Price: <h3 style="display:inline" ng-bind="product.variants[0].price"></h3></h3>
      <h3 style="display:inline">Items left: <h3 style="display:inline" ng-bind="product.variants[0].inventory_quantity"></h3></h3>

  </button>
  </div>  
  <p class="lead" ng-bind="vm.shopify.content"></p>
</section>
